.formSection,
.addingForm,
.formItemsList {
  display: flex;
  flex-direction: column;
}

.formSection {
  width: 100%;
  height: 50vh;
  background-color: rgb(180, 126, 126);
  justify-content: center;
  align-items: center;
}

.addingForm {
  width: 40%;
  height: 40%;
  background-color: rgb(133, 185, 231);
}

.formItemsList {
    height: 100%;
    justify-content: space-around;
}
