* {
  margin: 0;
  padding: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  text-decoration: none;
  list-style: none;
}

.header {
  width: 100%;
  height: 5vh;
  background-color: #c3c3c3;
  display: flex;
  justify-content: center;
}

.menu {
  width: 60%;
}

.menuList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.menuListItem {
  width: 15%;
}

.menuListLink {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afafaf;
}
